.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #667eea, #764ba2);
}

.card {
    width: 380px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    background: #fff;
}

button {
    background-color: #1890ff;
    border-color: #1890ff;
    font-size: 16px;
}

.errorMessage {
    color: #f5222d;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
}
